* {
  margin: 0;
  padding: 0;
  font-family: "Langar", cursive;
  box-sizing: border-box;
}
.users-section {
  border: 2px double white;
  width: 600px;
  margin: 10px auto;
  background-color: midnightblue;
}
.table-holder {
  margin: 7px auto;
  border: 2px double white;
  overflow-y: scroll;
  max-height: 80vh;
}
.addTask{
  border-bottom: 2px solid ghostwhite;
  display: inline-block;
  margin-bottom: 2px;
}
table {
  background-color: teal;
  
}

.tr-class {
  border-collapse: collapse;
  padding: 5px;
  border: 1px solid midnightblue;
}
th {
  border-collapse: collapse;
  padding: 0    10px;
  border: 1px solid midnightblue;
}

.tb-class {
  border: 2px solid black;
  background-color: chocolate;
  color: cornsilk;
  text-align: center;
  font-size: 1.1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: capitalize;
  padding: 5px;
}
.addUser,select,input {
  border-radius: 7px;
  background-color:cornflowerblue
  color: white;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1543598098-622a5e218f43?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  flex-direction: column;
  color: white;
  text-align: center;
}

/* using media queries */

@media screen and (max-width: 600px) {
  td {
    color: indianred;
    background-color: black;
  }

  th {
    background-color: gray;
    color: darkred;
  }
}

@media screen and (orientation: landscape) {
  td {
    color: indianred;
    background-color: black;
  }

  th {
    background-color: gray;
    color: darkred;
  }
}

select{
    width: 120px;
    margin-right: -3px;
}

.users-section{
  border: none;
  margin-bottom: 0;
  max-height: 20vh;
}
.dltBtn{
  padding: 0px 15px;
}
.addUser{
  padding: 0px 25px;
}

input:hover,.addUser:hover,select:hover{
border: 2px double orange;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  background-color: teal;
}
.add{
  width: 46vw;
  margin-left: 0px;
}
.dltBtn:hover{
color: red;
box-shadow: 2px 2px red;
}

label{
  margin-left: 15px;
}